* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: #f7d354;
    transition: 0.5s;
}

a:hover {
    color: #b8930c;
}

/* Loading Spinner*/
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px; /* Ajuste conforme necessário */
}